#virtual envs
venv/
env/
su-adm

#cache
__pycache__/
*.pyc
*.pyo

# data
*.csv
*.json
**raw_data/
**data/
**backup/
**'Projekt kursklassificering'/

# models
/.ipynb_checkpoints
*.pt
*.joblib
*.npy
su-admin-baseline/tfidf_baseline
kbbert_uo_multilabel.zip


# temps
*.un~
*.swp

#ignore for now
bootstrap/
su-admin-BERT-dist-pred/material-to-expert/
su-admin-BERT-dist-pred/misc/
*.png
*.html
.gitignore_copy
validate_model_results/ 
